/******* Universal Styles**********/

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
  
  .page-header {
    background-color: #FFFFFF;
    top: 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    font-size: 1rem;
  }

  .logo {
    height: 90%;
    width: auto;
  }

  .woodchurchWI {
      text-align: center;
      font-size: 4em;
      font-weight: bold;
      color: #6b7d31;
  }

  .contacts-header {
    padding-bottom: 100px;
  }

  .contacts-header > ul, .contacts-footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }

  .contact-link {
    text-decoration: none; 
    color: #000000;
    display: block;
    width: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }

/* NavBar */

  .navbar {
    background-color: #6b7d31;
    width: 100%;
    font-size: 1rem;
  }

  .navbar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .nav-link:link, .nav-link:visited {
    text-decoration: none; 
    color: #FFFFFF;
    display: block;
    width: 130px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
  }

  .nav-link:hover, .nav-link:active {
    background-color: #FFFFFF;
    color: #000000;
  }

/*Main Body*/

  .page-body {
    flex-grow: 1;
    font-size: 1rem;
  }

      /* The hero image */

  #group-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("groupPhotoExcursion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px
  }

  #group-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 800px;   /*same as photo*/
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #introOne, #introTwo, #introThree, #introFour, #introFive {
    font-size: 1.5em;
    font-family: Consolas;
    width: 80%;
    height: 100px;
  }

  button {
    background-color: #043d32;
    color: white;
    border: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color:black;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 40px;
  }

      /*Sections*/

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 100%;
  }
    
  .box {
    border: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    background-color:#6b7d31;
    width: 80%;
    margin: 50px auto;
    font-size: 1rem;
  }

  .box h2 {
    font-family: Consolas;
    color: white;
    font-size: 1.5em;
  }

  .box p {
    font-family: Consolas;
    color: white;
    font-size: 1em;
  }

/*Footer*/

.page-footer {
    flex-shrink: 0;
    background-color: #043d32;
    padding: 50px;
}

.contacts-footer {
  float: left;
}

.copyright {
  float: right;
  font-weight: bold;
  color: white;
}

/*********Media Queries*************/

/* Mobile */
@media screen and (max-width: 767px) {
  .page-header {
    height: 100px;
  }

  .woodchurchWI {
      font-size: 2em;
  }

  .contacts-header {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width:991px) {
  .contacts-header {
    display: none;
  }
  .column {
    flex: 1;
  }
}

/* Desktop */

@media screen and (min-width: 992px) {
  .column {
    flex: 1;
  }
}