/******* Universal Styles**********/

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
  
  .page-header {
    background-color: #FFFFFF;
    top: 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    font-size: 1rem;
  }

  .logo {
    height: 90%;
    width: auto;
  }

  .woodchurchWI {
      text-align: center;
      font-size: 4em;
      font-weight: bold;
      color: #6b7d31;
  }

  .contacts-header {
    padding-bottom: 100px;
  }

  .contacts-header > ul, .contacts-footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }

  .contact-link {
    text-decoration: none; 
    color: #000000;
    display: block;
    width: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }

/* NavBar */

  .navbar {
    background-color: #6b7d31;
    width: 100%;
    font-size: 1rem;
  }

  .navbar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .nav-link:link, .nav-link:visited {
    text-decoration: none; 
    color: #FFFFFF;
    display: block;
    width: 130px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
  }

  .nav-link:hover, .nav-link:active {
    background-color: #FFFFFF;
    color: #000000;
  }

/*Main Body*/

  .page-body {
    flex-grow: 1;
    font-size: 1rem;
  }

      /* The hero image */

  #group-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("groupPhotoExcursion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }

  #group-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 800px;   /*same as photo*/
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .intro-text {
    font-size: 1.5em;
    font-family: Consolas;
    width: 80%;
    height: 100px;
  }

  .big-intro-text {
    font-size: 2em;
  }

  button {
    background-color: #043d32;
    color: white;
    border: 5px;
    border-style: solid;
    border-radius: 30px;
    border-color: #6b7d31;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 40px;
  }

      /*Sections*/

section {
  padding: 20px;
  border: 5px;
  border-style: solid;
  border-color:#6b7d31;
  width: 80%;
  margin: 50px auto;
  background-color: #eff7d5;
}

h2 {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 30px;
  
  color: #6b7d31;
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

section p {
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  
}

section a {
  text-decoration: none;
  
  font-size: 1.1em;
  color: black;
}

.cancelled {
  font-weight: bold;
  color: #ff0000;
}

/*Footer*/

.page-footer {
    flex-shrink: 0;
    background-color: #043d32;
    padding: 50px;
}

.contacts-footer {
  float: left;
}

.contacts-footer a {
  color: white;
}

.copyright {
  float: right;
  font-weight: bold;
  color: white;
}

/*********Media Queries*************/

/* Mobile */
@media screen and (max-width: 767px) {
  .page-header {
    height: 100px;
  }

  .woodchurchWI {
      font-size: 2em;
  }

  .contacts-header {
    display: none;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width:991px) {
  .contacts-header {
    display: none;
  }

  }

/* Desktop */

@media screen and (min-width: 992px) {

}

        /************* About Us *****************/

section li {
  padding: 10px;
  font-size: 1.5em;
}

#hall-container {
  display: inline-block;
  width: 50%;
  margin-right: 50px;
  position: relative;
  bottom: 100px;
}

#map-container {
  display: inline-block;
  position: relative;
  top: 90px;
  left: 50px;

}

#hall {
  position: relative;
  left: 80px;
  bottom: 50px;
}

      /*******************Programme**************/

.table-container {
  width: 80%;
  margin: 50px auto;
}

.table-container p {
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
}

.table-container h2 {
  color: #000000
}

table {
  border-collapse: collapse;
  width: 100%;
     }
     
table th, td {
  border: solid black 2px; 
    }
     
table th {
  background-color: #6b7d31;
  color:#FFFFFF;
  padding: 10px;
    }
     
table td {
        padding: 10px; 
        background-color: #eff7d5;
    }
     
